@{
    ViewData["Title"] = "Pantry Thief";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PantryThief</h1>
    <p>Your food tracker and meal planner.  Save money, save time, reduce food waste. </p>
</div>
